<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PasenteRegister</servlet-name>
    <servlet-class>com.Controler.PasenteRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.Controler.AdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorRegister</servlet-name>
    <servlet-class>com.Controler.DoctorRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logins</servlet-name>
    <servlet-class>com.Controler.Logins</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Controler.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorAppoiment</servlet-name>
    <servlet-class>com.Module.DoctorAppoiment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorAppoiments</servlet-name>
    <servlet-class>com.Controler.DoctorAppoiments</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DocApp</servlet-name>
    <servlet-class>com.Controler.DocApp</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>patientAppointment</servlet-name>
    <servlet-class>com.Controler.patientAppointment</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoctorApporveAndcalcel</servlet-name>
    <servlet-class>com.Controler.DoctorApporveAndcalcel</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SearchToken</servlet-name>
    <servlet-class>com.Controler.SearchToken</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PatientReport</servlet-name>
    <servlet-class>com.Controler.PatientReport</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.Controler.Delete</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeneratePDF</servlet-name>
    <servlet-class>pdfConvert.GeneratePDF</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LabAdminLogin</servlet-name>
    <servlet-class>com.Controler.LabAdminLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Token</servlet-name>
    <servlet-class>com.Controler.Token</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>someservlet</servlet-name>
    <servlet-class>Logic.someservlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FingerVerification</servlet-name>
    <servlet-class>com.Controler.FingerVerification</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.Controler.Download</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteP</servlet-name>
    <servlet-class>com.Controler.DeleteP</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BlockChainRetrieve</servlet-name>
    <servlet-class>com.Controler.BlockChainRetrieve</servlet-class>
  </servlet>





















 


  <servlet-mapping>
    <servlet-name>PasenteRegister</servlet-name>
    <url-pattern>/PasenteRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorRegister</servlet-name>
    <url-pattern>/DoctorRegister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logins</servlet-name>
    <url-pattern>/Logins</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorAppoiment</servlet-name>
    <url-pattern>/DoctorAppoiment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorAppoiments</servlet-name>
    <url-pattern>/DoctorAppoiments</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocApp</servlet-name>
    <url-pattern>/DocApp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>patientAppointment</servlet-name>
    <url-pattern>/patientAppointment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoctorApporveAndcalcel</servlet-name>
    <url-pattern>/DoctorApporveAndcalcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchToken</servlet-name>
    <url-pattern>/SearchToken</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PatientReport</servlet-name>
    <url-pattern>/PatientReport</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneratePDF</servlet-name>
    <url-pattern>/GeneratePDF</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LabAdminLogin</servlet-name>
    <url-pattern>/LabAdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Token</servlet-name>
    <url-pattern>/Token</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>someservlet</servlet-name>
    <url-pattern>/someservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FingerVerification</servlet-name>
    <url-pattern>/FingerVerification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteP</servlet-name>
    <url-pattern>/DeleteP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BlockChainRetrieve</servlet-name>
    <url-pattern>/BlockChainRetrieve</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
